.booking-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.form-overlay {
  background-color: #fff;
  padding: 20px;
  padding-top: 10px;
  border-radius: 12px;
  margin-left: 140px;
  width: 80%;
  max-width: 1000px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.form-overlay h2 {
  color: #700e0e;
  margin-bottom: 15px;
  font-size: 24px;
}

.tour-info h3 {
  margin: 10px 0 5px;
  font-size: 24px;
  color: #ffd700;
}

.tour-info p {
  margin: 5px 0;
  font-size: 18px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.booking-page-form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 750px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.booking-page-form-group.name {
  display: flex;
  align-items: center;
}

.booking-page-form-group.name label {
  margin-left: 0;
  width: 100px;
}

.booking-page-form-group.name input {
  flex-grow: 1;
}

.booking-page-form-group.email label {
  margin-left: 0;
}

.booking-page-form-group.people label {
  margin-left: 0;
}

.booking-page-form-group.travel-date label {
  margin-left: 0;
}

.booking-page-form-group input,
.booking-page-form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.booking-page-form-group textarea {
  resize: none;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .form-overlay {
    padding: 15px;
    border-radius: 10px;
  }

  .tour-info h3 {
    font-size: 20px;
  }

  .booking-page-form-group label {
    font-size: 13px;
  }

  .booking-page-form-group input,
  .booking-page-form-group textarea {
    font-size: 13px;
  }

  .submit-btn {
    font-size: 14px;
  }
}